.tripArticle{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url('../img/background-3.jpg');
  background-size: cover;
  opacity: 0.9;
  background-position-y: 191px;
  background-position-x: 43px;
  padding: 20px 10px 70px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.507);
  border-radius: 8px;
  transition: transform 400ms;
  /* color: #ccff00; */
  letter-spacing: 3px;
}
.tripArticle:hover{
  transform: scale(1.08);
  cursor: pointer;
}

.imageContainer{
  width: 90%;
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 8px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.507);
}
.tripArticle h2 {
  margin: 50px auto 0px auto; 
  font-size: 55px;
  font-family: 'Permanent Marker', cursive;
  transform: rotate(-5deg);
  color: #3f3c7c;
}
.tripArticle img{
  /* box-shadow: 2px 8px 5px grey; */
  border-radius: 3px;
  height: auto;
  transition: all 400ms;
}
.allTrips{
  display: flex;
  justify-content: space-evenly;
  max-width: 80%;
  margin: 80px auto ;
}
a, a:visited{
  text-decoration: none;
}