.bottomNav{
  position: fixed;
  background-color: #dbdbdb;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);

}