.navVisible{
  background-color: red;
  list-style: none;
  padding: 10px;
}
.navHidden{
  background-color: yellow;
  list-style: none;
  padding: 10px;
}
.nav{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 54px;
  left: 50px
}
.icon{
  color: #f5f5f5;
  font-size: 40px;
  transition: all 1.5s;
 }
 .icon:hover{
   transform: rotate(90deg);
   color: #3f3c7c;
 }