.navVisible{
  background-color: #3f3c7c;
  color: #f5f5f5;
  border-radius: 5px;
  list-style: none;
  padding: 20px;
  opacity: 1;
  transition: opacity 1s;
}
.navHidden{
  list-style: none;
  opacity: 0;
  transition: all 0.5s;
}
.nav{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 54px;
  left: 50px
}
.icon{
  color: #f5f5f5;
  font-size: 40px;
  transition: all 1.5s;
 }
 .icon:hover{
   transform: rotate(90deg);
   color: #3f3c7c;
 }