.navVisible{
  opacity: 1;
  position:absolute;
  top: 45px;
  transition: all 1.2s;
  z-index: -1;
}
.navHidden{
  list-style: none;
  position:absolute;
  top: 0px;
  opacity: 0;
  transition: all 0.8s;
  z-index: -1;
}
.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 140px;
}
.icon{
  color: #f5f5f5;
  font-size: 40px;
  transition: all 1.5s;
 }
 .icon:hover{
   transform: rotate(90deg);
   color: #3f3c7c;
 }
 #navUl{
  background-color: #3f3c7c;
  color: #f5f5f5;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
  border-radius:0px 0px 25px 25px;
  list-style: none;
  height: 320px;
  padding: 20px;
  font-size: 28px;
  line-height: 2.5;
 }
 #navUl li:hover{
    cursor: pointer;
    color: #7de225;
 }