.navVisible{
  opacity: 1;
  position:absolute;
  top: 67px;
  transition: opacity 300ms;
}
.navHidden{
  list-style: none;
  position:absolute;
  top: 67px;
  opacity: 0;
  transition: opacity 300ms;

}
.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 110px;
}
.iconDefault{
  color: #f5f5f5;
  font-size: 35px;
  transition: all 0.6s;
  cursor: pointer;
 }
 .iconRotated{
   transform: rotate(450deg);
   transition: all 1.2s;
   font-size: 45px;
   color: #3f3c7c;
   cursor: pointer;
 }
 #navUl{
  background-color: #3f3c7c;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f5f5f5;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);
  border-radius:0px 0px 25px 25px;
  list-style: none;
  height: 280px;
  width: 100px;
  padding: 20px;
  font-size: 28px;
  line-height: 2.5;
 }
 .link{
  text-decoration: none;
  color: #D9DCD6;
}
.link:visited{
  color: #D9DCD6;
}
.link:hover{
  cursor: pointer;
  color: #7de225;
}