.header{
  background-color: #81C3D7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.31);

}
.header h1{
  margin: 0;
}
.logo{
  width: 350px;
}
.figure{
  margin: 0;
}
