.secondaryHeading{
  font-size: 40px;
  color: #3f3c7c;
  text-shadow: 2px 2px 5px #eee, 5px 5px 0px #707070;
  margin: 20px 0px;
}
.mainHeading{
  font-size: 60px;
  color: #3f3c7c;
  text-shadow: 2px 2px 5px #eee, 5px 5px 0px #707070;
  margin: 0;
}
.testHeading{
  text-shadow: 0px 20px 0px #eee, 0px 45px 0px #eee;
}
.homepageHeadings{
  position: absolute;
  background-color: #d9dcd656;
  border-radius: 10px;
  padding: 0px 20px;
  max-width: 60%;
  left: 270px;
  margin-top: 50px;
}